#========================================================

#ENTORNO VIRTUAL

#========================================================

.venv/

#========================================================

#VARIABLES DE ENTORNO

#========================================================

.env

#========================================================

# CACHE DE PYTHON

#========================================================

__pycache__/
* .py[cod]
* .pyo

#=========================================================

# ARCHOVOS DEL SISTEMA

.DS_Store
Thumbs.db

#=========================================================

#CONFIGURACION DE VS CODE

.vscode/

#=========================================================

#LOGS

#=========================================================

* .log

#=========================================================

#ARCHIVOS TEMPORALES

#=========================================================

* .tmp
* .bak

#=========================================================

#BASE DE DATOS VECTORIALES PDFs

data/vector_db/


